/* from
https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css
https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.min.css
*/
.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;margin:0;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl}
.glide__arrow{position:absolute;display:block;top:50%;z-index:2;color:#fff;text-transform:uppercase;padding:9px 12px;background-color:transparent;border:2px solid rgba(255,255,255,.5);border-radius:4px;box-shadow:0 .25em .5em 0 rgba(0,0,0,.1);text-shadow:0 .25em .5em rgba(0,0,0,.1);opacity:1;cursor:pointer;transition:opacity 150ms ease,border 300ms ease-in-out;transform:translateY(-50%);line-height:1}.glide__arrow:focus{outline:none}.glide__arrow:hover{border-color:#fff}.glide__arrow--left{left:2em}.glide__arrow--right{right:2em}.glide__arrow--disabled{opacity:.33}.glide__bullets{position:absolute;z-index:2;bottom:2em;left:50%;display:inline-flex;list-style:none;transform:translateX(-50%)}.glide__bullet{background-color:rgba(255,255,255,.5);width:9px;height:9px;padding:0;border-radius:50%;border:2px solid transparent;transition:all 300ms ease-in-out;cursor:pointer;line-height:0;box-shadow:0 .25em .5em 0 rgba(0,0,0,.1);margin:0 .25em}.glide__bullet:focus{outline:none}.glide__bullet:hover,.glide__bullet:focus{border:2px solid #fff;background-color:rgba(255,255,255,.5)}.glide__bullet--active{background-color:#fff}.glide--swipeable{cursor:grab;cursor:-moz-grab;cursor:-webkit-grab}.glide--dragging{cursor:grabbing;cursor:-moz-grabbing;cursor:-webkit-grabbing}
@font-face {
  font-family: AvenirNext; font-style: normal; font-weight: 400;
  src: url(../fonts/AvenirNextforINTUIT-Regular.otf);
}
@font-face {
  font-family: AvenirNext; font-style: normal; font-weight: 500;
  src: url(../fonts/AvenirNextforINTUIT-Medium.otf);
}
@font-face {
  font-family: AvenirNext; font-style: normal; font-weight: 700;
  src: url(../fonts/AvenirNextforINTUIT-Bold.otf);
}

body.single-int_challenge {
  font-family: AvenirNext; background: #f1f7fb;
}
.elementor[data-elementor-type=header] {z-index: 200; position: relative;}
.elementor[data-elementor-type=header].sticky {position: sticky; top: 0;}
.ic_content {max-width: 1200px; margin: 50px auto 20px; padding: 10px; min-height: calc(100vh / 2 + 24px);}
.ic_content.start {margin-top: 100px;}
.ic_content.narrow {max-width: 600px;}
.ic_content.medium {max-width: 800px;}
.ic_questions_wrapper {display: flex; flex-direction: column; gap: 100px; align-self: stretch; margin-bottom: 70px;}
.ic_question_title {font-size: 18px;}
.ic_question_title pre {font-size: 16px;}
.ic_question_answers {display: flex; flex-direction: column; gap: 13px; margin-top: 35px;}

.ic_answer {display: flex; flex-direction: row; align-items: center; gap: 20px;}
.ic_answer .ic_answer_text {flex: 1;}
.ic_answer .ic_answer_icon {
  width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;
  border: 1px solid #006AB7; color: #006AB7; font-size: 21px; border-radius: 50%; background: white;
}
.ic_answer input:checked + .ic_answer_icon {border: none; color: white; background-image: linear-gradient(148deg, #00C5C0 0%, #0078CB 46%, #005398 100%);;}
.ic_answer input[type=radio] {position: absolute; width: 1px; height: 1px; max-width: 1px; max-height: 1px; opacity: 0.1;}

.ic_cmp_content p {font-size: 16px;}
.ic_cmp_content:not(.active) {display: none!important;}
.ic_social_icons {text-align: center; margin: 70px 0;display: flex; justify-content: center; gap: 30px;}
.ic_social img {height: 35px;}
.ic_social:not(:hover) .ic_social_img_hover {display: none!important;}
.ic_social:hover .ic_social_img {display: none!important;}

.ic_header {
  position: relative;
  padding: 100px 10px 20px;
  min-height: 280px;
  color: white;
  background-image: linear-gradient(212deg, #00C5C0 0%, #0078CB 46%, #005398 100%);
  z-index: 100;
}
.ic_header.sticky {position: sticky; top: 0;}
.ic_header_subtitle {font-size: 36px; line-height: normal;}
.ic_header_title {font-size: 52px; line-height: normal;}
.ic_header .spaced {margin-top: 15px;}
.ic_header_title.bold {font-weight: 700;}
.ic_header_center {display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; max-width: 1100px; margin: auto;}

.ic_header_timer {display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; gap: 30px; margin: auto; max-width: 1200px;}
.ic_header_timer .ic_logo {position: absolute; right: 30px; top: 20px;}

.ic_timer {display: flex; flex-flow: row nowrap; gap: 17px;}
.ic_timer .ic_timer_part {width: 140px; height: 100px; background: #FFFFFF3B; font-size: 57px; display: inline-flex; justify-content: center; align-items: center; font-weight: 700;}
.ic_timer .ic_timer_separator {font-size: 57px; font-weight: 700; display: inline-flex; align-items: center; align-self: flex-start; padding-top: 12px; line-height: normal;}
.ic_timer .ic_timer_part_wrapper {display: flex; flex-direction: column; gap: 10px;}
.ic_timer .ic_timer_part_text {font-size: 24px; text-align: center;}

.ic_login_wrapper {display: flex; margin-top: 50px; justify-content: center; align-items: center;}
.ic_login_wrapper .mo-openid-app-icons {display: inline-block; transform: scale(2);}

.ic_start_wrapper {display: flex; flex-direction: column; align-items: center; gap: 50px;}
.ic_start_instructions {font-size: 45px; max-width: 1000px; text-align: center;}

.ic_questions_form {max-width: 800px; margin: auto; padding-top: 50px; display: flex; flex-direction: column; align-items: center;}
.ic_question {padding: 20px 20px 40px; background-color: white; box-shadow: 3px 4px 17px 9px rgba(0,0,0,0.03); position: relative; display: flex; flex-direction: column; align-items: center;}
.ic_question_content {width: 100%; max-width: 600px; margin: auto;}
.ic_question_num {
  font-size: 42px; font-weight: 700; width: 67px; height: 67px; color: white; background: #00C5C0; border-radius: 50%;
  display: inline-flex; align-items: center; justify-content: center; position: relative; top: -50px;
}

button.ic_button {
  border-radius: 35px; border: none; background-image: linear-gradient(143deg, #00C5C0 0%, #0078CB 46%, #005398 100%);
  color: white; font-size: 25px; font-weight: 500; padding: 15px 40px; min-width: 250px;
}
button.ic_cmp_btn {border: none; background-color: transparent;}
button.ic_cmp_btn .ic_cmp_img {width: 100px; height: 100px; object-fit: contain;}
button.ic_cmp_btn:not(.selected) {filter: grayscale();}
button.ic_cmp_btn:hover, button.ic_cmp_btn:focus {background-color: transparent; outline: none;}

.ic_color_title {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; line-height: normal;
  text-align: center; font-size: 56px; font-weight: 500; background-image: linear-gradient(148deg, #00C5C0 0%, #0078CB 46%, #005398 100%);
}

.ic_text {font-size: 24px;}
.ic_text.center {text-align: center;}
.ic_text.bold {font-weight: 700;}

.ic_donation_cmps {border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; padding: 85px 0;}
.ic_donations_form {margin-top: 60px; display: flex; flex-direction: column;}
.ic_cmp_contents {margin-top: 100px;}
.ic_submit_donation {align-self: center; margin-top: 70px; max-width: 100%;}

.ic_subscribe_wrapper {margin: 70px auto 70px; text-align: center;}
.ic_subscribe_explain {margin: 30px auto; max-width: 600px;}
.ic_share_title {margin-top: 65px;}
.ic_share_subtitle {margin: 47px 0 56px;}

/* material checkbox*/
.ic-checkbox {display: inline-block;}
.ic-checkbox label {cursor: pointer; padding-right: 0;}
.ic-checkbox input[type=checkbox] {
  opacity: 0;position: absolute;margin: 0;z-index: -1;width: 0;
  height: 0;overflow: hidden;right: 0;pointer-events: none;
}
.ic-checkbox .ic-check {
  position: relative;display: inline-block;width: 50px;height: 50px;
  border: 1px solid #919191;overflow: hidden;z-index: 1;
  display: inline-flex; justify-content: center; align-items: center; font-size: 40px; font-weight: 700; color: transparent;
}
.ic-checkbox .checkbox-material .ic-check:before {
  position: absolute; content: ""; transform: rotate(45deg); display: block; margin-top: -4px;
  margin-left: 6px; width: 0; height: 0; box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
}

input[type=checkbox]:checked + .ic-check {color: #0072c2;}
/* material checkbox - end*/


@media (max-width: 767px) {
  .ic_header {padding: 77px 15px 15px; min-height: 190px;}
  .ic_header .ic_logo {max-height: 50px;}
  .ic_header_title {font-size: 24px;}
  .ic_header_subtitle {font-size: 20px;}
  .ic_header_timer {justify-content: center; margin-top: 15px;}
  .ic_header_timer .ic_logo {max-width: 50px;}
  .ic_header_timer .ic_header_title {font-size: 20px;}
  .ic_submit_donation {margin-top: 10px;}
  
  .ic_header_timer .ic_logo {top: 48px;}
  .ic_timer {gap: 5px;}
  .ic_timer .ic_timer_part {width: 60px; height: 50px; font-size: 26px;}
  .ic_timer .ic_timer_separator {padding-top: 0; font-size: 40px;}
  .ic_timer .ic_timer_part_text {font-size: 13px;}
  .ic_timer .ic_timer_part_wrapper {gap: 3px;}
  .ic_content {padding: 15px;}
  .ic_text {font-size: 20px;}
  .ic_start_instructions {font-size: 32px;}
  .ic_color_title {font-size: 32px;}
  .ic_donations_form {margin-top: 35px;}
  .ic_donation_cmps {padding: 30px 0; margin-left: -15px; width: calc(100% + 30px);}
  .ic_cmp_contents {margin: 30px 0;}
  .ic_login_wrapper .mo-openid-app-icons {display: inline-block; transform: scale(1.5);}
  .ic_question_title pre {font-size: 14px;}
  button.ic_button {font-size: 20px; min-width: 230px;}
  .ic_share_title {margin-top: 40px;}
  .ic_subscribe_wrapper {margin: 44px auto;}
  .ic_social_icons {margin: 50px 0;}
}